/**** COMPONENTS ****/

.heading {
    // display: inline;
    color: $color-main-text;
    text-transform: uppercase;
    width: 100%;
    // margin-bottom: $spacing-default;
}

/**** ALERT DIV ****/

.alert-item {
    background: $color-header-background;
    padding: $spacing-half;
    margin: $spacing-default $spacing-default $spacing-half $spacing-default;
    border-radius: $spacing-border-radius;
    color: $color-header-text;
    position: relative;
}

.alert {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    position: absolute;
    top: $spacing-half  ;
}

.text {
    display: inline-block;
    font-weight: lighter;
    $margin-left: $spacing-half + $spacing-half + $spacing-smaller;
    margin-left: $margin-left;
    width: calc(100% - #{$margin-left} - #{$spacing-default});
}

.x {
    display: inline-block;
    position: absolute;
    top: $spacing-half;
    right: $spacing-half;
}

.message {
    font-weight: lighter;
}


.highlight {
    font-weight: bold;
    padding-right: 10px;
}

.x {
    float: right;
    cursor: pointer;
    background: transparent;
    padding: 10px;
    margin-top: -8px;
    margin-right: -8px;
    @include transition-opacity;

    &:hover {
        opacity: 0.7;
    }

    path {
        fill: white;
    }
}

/**** AVATAR ***/

.avatar-container {
    display: inline-block;
}

.avatar {
    display: inline-block;
    height: $spacing-avatar;
    width: $spacing-avatar;
    border-radius: 50%;
    vertical-align: middle; 
}

/**** FORM ELEMENTS ****/

input, textarea, select {
    padding: $spacing-default * 0.4;
    border: $border-main;
    border-radius: $spacing-border-radius;
    font-weight: lighter;
}

button {
    text-transform: uppercase;
    color: white;   
    border: 0;
    border-radius: $spacing-border-radius;
    padding: $spacing-half;
    margin-top: $spacing-half;
}

.b-chevron {
    position: absolute;
    right: 0;
    top: 18px;
    color: $color-header-background;
}