/**** NEW MEMBER, RECENT ACTIVITY STYLES ****/

.new-member,
.event {
    border-top: $border-main;
    position: relative;

    &:nth-child(2) {
        border-top: 0;
    }
}

.avatar-container {
    img {
        margin-bottom: $spacing-half;
    }
}

%member-activity-container {
    margin-top: $spacing-half;
    margin-left: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.name-email-container {
    @extend %member-activity-container;
    width: 370px;
}

.event-container {
    @extend %member-activity-container;
    width: 420px;
}

.name,
.target,
.time {
    color: $color-main-text;
}
.email a {
    color: $color-header-background;
    font-weight: lighter;
    text-decoration: none;
}

.description {
    color: $color-main-text;
    font-weight: lighter;
}

.date,
.chevron {
    color: $color-main-text;
    display: inline-block;
    float: right;
}

.date {
    margin-top: $spacing-smaller;
}