/**** HEADER STYLES ****/

header {
    position: fixed;
    top: 0;
    left: 0;
    @include nice-nav-move(left);
    width: 100%;
    z-index: 3;
    background: $color-light-purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &.show-nav {
        left: $spacing-nav-width;
        @include media-query($breakpoint-3) {
            left: 0;
        }
    }

    @include media-query($breakpoint-1) {
        padding-bottom: 0;
    }


    .heading-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: $spacing-half $spacing-default;
        @include nice-nav-move(margin-left);

        @include media-query($breakpoint-1) {
            width: 200px;
            margin-bottom: $spacing-half;
        }

        &.show-nav {
            margin-left: $spacing-half;
            @include media-query($breakpoint-3) {
                margin-left: $spacing-default;
            }
        }

        h1 {
            display: inline-block;
            margin: 0;
            font-size: 1.8em;
            color: $color-white;
            float: right;
        }

        .app {
            margin-left: -7px;
            font-weight: 300;
        }
        .tm {
            margin-left: -7px;
            font-weight: 300;
            font-size: 0.6em;
            vertical-align: super;
        }
    }

    .profile-container {
        margin: 0 $spacing-default $spacing-half 0;

        width: 100%;
        text-align: right;

        @include media-query($breakpoint-1) {
            width: 300px;
            margin-top: $spacing-half;
        }

        * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .notifs-container {
        position: relative;
        cursor: pointer;
        @include nice-hover;

        path {
            fill: $color-white;
        } 

        &.new:after {
            content: "";
            position: absolute;
            background: $color-light-green;
            border-radius: 50%;
            height: 8.5px;
            width: 8.5px;
            right: -2px;
            top: -6px;
        }
    }

    .avatar {
        margin-left: $spacing-half;
    }

    .blue-line {
        border-left: 1px $color-blue solid;
        height: 50px;
        margin-left: $spacing-two-thirds;
    }

    .name {
        color: $color-white;
        font-weight: lighter;
        margin-left: $spacing-one-quarter;
    }
}

.menu {
    color: $color-white;
    cursor: pointer;
    @include nice-hover;

    @include media-query($breakpoint-3) {
        display: none;  
    }
}