/**** CHART STYLES ****/

canvas {
    margin-top: $spacing-default;
    display: block;
    width: 100%;
}

#scale {
    display: inline;
    float: right;
    margin-right: - ($spacing-default / 2);

    div {
        display: inline;
        margin-left: $spacing-default / 4;
        padding: ($spacing-default / 3) ($spacing-default / 2);
        border-radius: $spacing-default;

        a {
            text-decoration: none;
            color: $color-main-text;
        }
    }

    .selected {
        background: $color-scale-selected;

        a {
            color: white;
        }
    }
}

#traffic-container {
    .heading {
        display: inline-block;
        width: 100px;
        float: left;
    }
}

.floating-bg {
    position: absolute;
    top: - ($spacing-default / 4);
    background: $color-scale-selected;
    border-radius: 20px;
    box-sizing: border-box;
    width: $spacing-scale-width / 4;   
    height: $spacing-default;
    z-index: 1;
    transition: margin-left .3s;
}

.label-div {
    display: inline-block;   
    box-sizing: border-box;
    width: calc((#{$spacing-scale-width} / 4) - #{$spacing-random-gutter});   
    position: relative;
    z-index: 2;
    color: $color-main-text;
    transition: color .3s;

    label {
        display: inline-block;
        width: calc(#{$spacing-scale-width} / 4);    
        margin: auto;
        text-align: center; 
        cursor: pointer;
    }
}


#switches {
    display: inline-block;
    float: right;
}

.switch-toggle {
    position: relative;
    width: $spacing-scale-width;
}

.toggle-input {
    display: none;

    @include toggle-transition(4);
}