/**** GENERIC ****/

%section-container {
    display: inline-block;
    padding-top: $spacing-default;
    padding-bottom: $spacing-default;
    padding-left: $spacing-default;
    padding-right: $spacing-larger;
    box-sizing: border-box;
    border-top: $border-main;
}

%split-container {
    @extend %section-container;
    width: 100%;

    @include breakpoint-desktop {
        width: 50%;
        margin-right: -4px;
    }
}

.row-container {
    border-top: $border-main;
    display: flex;
    flex-wrap: wrap;
}

/**** TRAFFIC ****/

#dailytraffic-container {
    // @extend %split-container;
    padding: $spacing-default;
    border-right: $border-main;
}

#traffic-container {
    @extend %section-container;
    width: 100%;
    border-top: 0;

    .heading {
        display: inline-block;
    }
}

/**** SOCIAL STATS ****/

#socialstats-container {
    @extend %section-container;
    width: 100%;
}

.social {
    display: inline-block;
    background: $color-topcontainer-bg;
    border: $border-main;
    border-radius: $spacing-border-radius;
    padding: $spacing-smaller;  
    @include calc_social_width(3);
    margin-right: $spacing-larger;
    margin-top: $spacing-smaller;
    svg {
        width: 70px;
        height: 70px;
        fill: $color-header-background;
        border-radius: 100%;
        display: inline; 
        // padding: $spacing-default;

        path {
            fill: white;
        }   
    }
    h3 {
        display: inline;
        color: $color-header-background;
        margin: 0;
    }

    &:nth-child(4) {
        margin-right: 0;
    }
}

.social_number {
    color: $color-main-text;
    font-size: 2.2em;
    font-weight: lighter;
    margin: 0;
}

.network-container {
    display: inline-block;
    margin-left: 10px;
}

/**** MOBILE USERS ****/

#mobileusers-container {
    @extend %split-container;
}

/**** NEW MEMBER/RECENT ACTIVITY GENERIC ****/

%member-activity-container {
    margin-top: $spacing-half;
    margin-left: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.avatar-container {
    img {
        margin-bottom: $spacing-half;
    }
}

/**** NEW MEMBER ****/

#newmembers-container {
    // @extend %split-container;
    flex-grow: 2;
    // min-width: 40px;
    box-sizing: border-box;
    padding: $spacing-default;
    border-right: $border-main;
}

.new-member,
.event {
    border-top: $border-main;
    position: relative;

    &:nth-child(2) {
        border-top: 0;
    }
}

.name-email-container {
    @extend %member-activity-container;
    min-width: 265px;
}

.email a {
    color: $color-header-background;
    font-weight: lighter;
    text-decoration: none;
}

.date {
    color: $color-main-text;
    display: inline-block;
    float: right;
}

/**** RECENT ACTIVITY ****/

#recentactivity-container {
    border-top: $border-main;
    margin-top: -1px;
    padding: $spacing-default;
    min-width: 485px;
    flex-grow: 1;
    // @extend %split-container;
}

.name,
.target,
.time {
    color: $color-main-text;
}

.event-container {
    @extend %member-activity-container;
    // width: 420px;
}

.description {
    color: $color-main-text;
    font-weight: lighter;
}

.chevron {
    color: $color-main-text;
    display: inline-block;
    float: right;
}

.date {
    margin-top: $spacing-smaller;
}



/**** MESSAGE USER ****/

#messageuser-container {
    // @extend %split-container;
    padding: $spacing-default;
    border-right: $border-main;
    button {
        width: 100%;
    }
}


#send {
    width: 100%;
    margin-right: $spacing-default; 
    @include button-backgrounds($color-header-background);
}

/**** SETTINGS ****/

#settings-container {
    padding: $spacing-default;
}

#save {
    width: calc(((100% - #{$spacing-default}) / 2) - #{$spacing-random-gutter});
    margin-right: $spacing-default; 
    @include button-backgrounds($color-header-background);
}

#cancel {
    float: right;
    width: calc(((100% - #{$spacing-default}) / 2) - #{$spacing-random-gutter});
    @include button-backgrounds($color-button-cancel);
}

#select-label {
    width: 100%;
}