/**** SIDE NAV STYLES ****/

#side-nav {
    position: fixed;
    left: 0;
    width: $spacing-nav-width;
    height: 100vh;
    display: none;
    background: $color-nav-background;

    padding-top: 72px;
    margin-top: -72px;
    z-index: 1;

    @include breakpoint-desktop {
        display: inline-block;
    }

    img {
        height: $spacing-nav-iconsize;
        width: $spacing-nav-iconsize;
        padding: ($spacing-default * 0.5) $spacing-default;
        margin: ($spacing-default * 0.5) 0 0 0;
        border: $spacing-border-thick solid $color-nav-background;
        opacity: 0.7;
        transition: opacity 0.3s;

        &:hover {
            opacity: 1;
        }
    }

    .current {
        border-left-color: $color-nav-current;
        opacity: 1;
    }
}