/**** MIXINS ****/

@mixin media-query($breakpoint) {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin nice-nav-move($property) {
    transition: $property 0.2s ease-out;
}

@mixin nice-hover {
    transition: opacity .2s;
    &:hover {
        opacity: .7;
    }
}